# VALID SUDOKU

In [1]:
import numpy as np

In [3]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [5]:
s.sum()

405

In [12]:
b = np.sum(s,axis=1)
b

array([45, 45, 45, 45, 45, 45, 45, 45, 45])

In [11]:
b = np.sum(s,axis=1)
for i in b:
    if i != 45:
        print("SUDOKU INVALID")
        break
else:
   print("for rows sudoku is valid")

for rows sudoku is valid

In [13]:
a = np.sum(s, axis = 0)
a

array([45, 45, 45, 45, 45, 45, 45, 45, 45])

In [14]:
a = np.sum(s, axis = 0)
for i in b:
    if i != 45:
        print("SUDOKU INVALID")
        break 
else:
    print("FOR COLOUMN SUDOKU VALID")

FOR COLOUMN SUDOKU VALID

In [16]:
for i in range(0,9,3):
    for j in range(0,9,3):
          n=print(s[i:i+3,j:j+ 3])
          n

[[5 3 4]
 [6 7 2]
 [1 9 8]]
[[6 7 8]
 [1 9 5]
 [3 4 2]]
[[9 1 2]
 [3 4 8]
 [5 6 7]]
[[8 5 9]
 [4 2 6]
 [7 1 3]]
[[7 6 1]
 [8 5 3]
 [9 2 4]]
[[4 2 3]
 [7 9 1]
 [8 5 6]]
[[9 6 1]
 [2 8 7]
 [3 4 5]]
[[5 3 7]
 [4 1 9]
 [2 8 6]]
[[2 8 4]
 [6 3 5]
 [1 7 9]]

In [23]:
for i in range(0,9,3):
    for j in range(0,9,3):
          n = s[i:i+3,j:j+ 3]
          print(n.sum())

45
45
45
45
45
45
45
45
45

# general question

In [28]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [32]:
#Get the shape of the matrix.

data.shape

(5, 3)

In [31]:
#Extract Math marks of all students.
data[:,1]

array([85, 92, 76, 65, 90])

In [36]:
#find the avarage age of the students

np.mean(data[:,0])

18.4

In [38]:
#Find the highest Science mark.

np.max(data[:,2])

95

In [40]:
#Get details of the student who scored more than 90 in Math.

data[data[:,1] > 90]

array([[19, 92, 88]])

In [51]:
#Find how many students are younger than 19.

len(data[data[:,0] < 19])

3

In [53]:
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [57]:
#Calculate the average marks in each subject (column-wise mean).

np.mean(data[:,1:], axis = 0)

array([81.6, 83.2])

In [6]:
#Get data of students who scored at least 80 in both subjects.

data[(data[:,1] >= 80) & (data[:,2] >= 80)]

array([[19, 92, 88],
       [20, 90, 85]])

In [4]:
import numpy as np

data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [5]:
#Replace all Science marks < 75 with 0.

data[:,2][data[:,2] < 75] = 0
data

array([[18, 85, 78],
       [19, 92, 88],
       [17, 76, 95],
       [18, 65,  0],
       [20, 90, 85]])