# VARIABLES IN PYTHON

In [2]:
x = 22
print(x)

22

In [3]:
type(x)

int

In [4]:
y = ' Mint choco chips'
print(y)

 Mint choco chips

In [5]:
type(y)

str

In [6]:
x,y,z = 'chcolate', 'vanilla', 'ice'
print(x)
print(y)
print(z)

chcolate
vanilla
ice

In [7]:
x = y = z = ' hey hello bye'
print(x)
print(y)
print(z)

 hey hello bye
 hey hello bye
 hey hello bye

In [8]:
gestures_this = ['hey', 'hello', 'bye']
x,y,z = gestures_this
print(x)
print(y)
print(z)

hey
hello
bye

In [9]:
#camel case
# Test Variable Case

testVariableCase = 'Vanilla Swirl'

In [ ]:
#pascal case
# Test Variable Case

TestVariableCase = 'Vanilla Swirl'

In [11]:
#snake case
# Test Variable Case
                                                   # BEST ONE IT IS
test_variable_case = 'Vanilla Swirl'

In [19]:
X = ' ICECREAM IS MY FAV' + '.'    # WE CANNOT USE INTERGERS TO ADD IN STRING LIKE THIS
print(X)

 ICECREAM IS MY FAV.

In [21]:
x = 'icecream is '
y = 'my fav.'
print(x+y)

icecream is my fav.

In [22]:
x = 'icecream'
y = 3
print(x,y)

icecream 3

# DATA TYPES

In [23]:
type(-12 + 227)

int

In [24]:
type(-12 + 10.34)

float

In [25]:
type(3j)                # J is used for imaginary num in python

complex

In [26]:
# BOOLEAN USED AS COMPARISION OPERATOR AND GIVES ANSWER IN TRUE OR FALSE

type (1>9)

bool

In [27]:
1 > 9

False

In [28]:
1 == 1

True

In [29]:
# STRINGS

'Single Quote'

'Single Quote'

In [30]:
"double quote"

'double quote'

In [31]:
multiline = """ 
Twinkle twinkle little star,
how i wonder what you are.
Up above the world so high,                           
like a diamond in the sky. """

print(multiline)                            #tripple quote

Twinkle twinkle little star,
how i wonder what you are.
Up above the world so high,
like a diamond in the sky.

In [32]:
type (multiline)

str

In [41]:
a = 'hello world '


print (a[:5])

hello

In [34]:
print (a[5:])

 world

In [36]:
print (a[6])

w

In [37]:
print (a[-3])

r

In [38]:
print (a[2:5])

llo

In [42]:
a*3

'hello world hello world hello world '

In [43]:
# LIST : it stores multiple values whereas str stored one value multiple characters, [] represents lists,()/{} data types

[1,2,3]

[1, 2, 3]

In [44]:
['cookie dough', 'strawberry', 'chocolate']     #we put str values under quotes inside lists

['cookie dough', 'strawberry', 'chocolate']

In [46]:
['vanilla', 3, ['scoops', 'spoons'], 'true' ]   # we can put literally anything inside list also list within list

['vanilla', 3, ['scoops', 'spoons'], 'true']

In [65]:
ice_cream = ['cookie dough', 'strawberry', 'chocolate']
ice_cream.append('salted caramel')
ice_cream
  #calling

['cookie dough', 'strawberry', 'chocolate', 'salted caramel']

In [48]:
ice_cream[0] = 'Butter Pican'   # [0] is index, we used it here to change the index 0 item
ice_cream

['Butter Pican', 'strawberry', 'chocolate', 'salted caramel']

In [49]:
nest_list = ['vanilla', 3, ['scoops', 'spoons'], 'true' ]
nest_list[0]

'vanilla'

In [50]:
nest_list[2][0]

'scoops'

In [51]:
nest_list[2][1]

'spoons'

In [52]:
nest_list[1]

3

In [57]:
# TUPLE (It can not be modified once it is created otherwwise it is pretty similiar to LISTS)


tuple_scoops = (1,2,3,2,1)

In [58]:
type(tuple_scoops)

tuple

In [59]:
tuple_scoops[0]

1

In [60]:
tuple_scoops[3]

2

In [68]:
# SETS

english_vowels = {1,2,3,4,5}
type(english_vowels)

set

In [69]:
daily_pints_log = {1,2,2,3,4,6,89,89,43,2,1}
print(daily_pints_log)              # we use log to get individual values that has been used

{1, 2, 3, 4, 6, 89, 43}

In [72]:
garimas_daily_pints_log = {1,2,3,4}
print(garimas_daily_pints_log)

{1, 2, 3, 4}

In [73]:
print (daily_pints_log | garimas_daily_pints_log)        # | WE WILL GET ALL THE UNIQUES VALUES BETWEEN THESE TWO SETS COMBINED, UNION OF SETS

{1, 2, 3, 4, 6, 43, 89}

In [74]:
print (daily_pints_log & garimas_daily_pints_log)       # & WILL ONLY SHOW VALUES USED IN BOTH THE SETS

{1, 2, 3, 4}

In [75]:
print (daily_pints_log - garimas_daily_pints_log)       # - INTERSECTION BETWEEN THESE TWO SETS

{89, 43, 6}

In [76]:
print (daily_pints_log ^ garimas_daily_pints_log)

{89, 43, 6}

In [81]:
# DICTIONARIES
# Key/value Pair


dict_cream = {'name':'Harshit', 'weekly intake': 5, 'fav ice cream': ['mcc','chocolate']}

             


type(dict_cream)

dict

In [82]:
print(dict_cream)

{'name': 'Harshit', 'weekly intake': 5, 'fav ice cream': ['mcc', 'chocolate']}

In [83]:
dict_cream.values()        # .values call out all the values within the dictionary

dict_values(['Harshit', 5, ['mcc', 'chocolate']])

In [85]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'fav ice cream'])

In [86]:
dict_cream.items()

dict_items([('name', 'Harshit'), ('weekly intake', 5), ('fav ice cream', ['mcc', 'chocolate'])])

In [87]:
dict_cream['name']         # in dictionary we cant call out valus by there index num instead we use direct keys inside ['--']

'Harshit'

In [88]:
dict_cream['weekly intake']

5

In [89]:
 # we can also update data in dictionaries

dict_cream['name'] = 'Garima'
print (dict_cream)

{'name': 'Garima', 'weekly intake': 5, 'fav ice cream': ['mcc', 'chocolate']}

In [90]:
# we can also update all of the values at once in dictionary


dict_cream.update({'name': 'Garima', 'weekly intake': 5, 'fav ice cream': ['mcc', 'chocolate'], 'weight':70})
print(dict_cream)

{'name': 'Garima', 'weekly intake': 5, 'fav ice cream': ['mcc', 'chocolate'], 'weight': 70}

In [93]:
# we can aslo delete data from dictionaries by using DEL at begining


del dict_cream['weight']
print(dict_cream)

{'name': 'Garima', 'weekly intake': 5, 'fav ice cream': ['mcc', 'chocolate']}

# Comparison Operators

In [6]:
10==10

True

In [7]:
'Vanilla' != 'Chocolate'

True

In [8]:
10 <= 10

True

# Logical Operator

In [9]:
(70>50) and (50>70)

False

In [10]:
(10>30) or (10<30)

True

# Membership Operator


in           ------           Return true if a sequence with specified value is present in the object.

not in        -------          return true if a sequence with the specified value is not present in the object.

In [11]:
ice_cream = 'i love chcolate icecream'

'love' in ice_cream

True

In [12]:
ice_cream = 'i love chcolate icecream'

'love' in  'i love chcolate icecream'

True

In [ ]:
scoops =[1,2,3,4,5]

6 not in scoops

True

# if - elif - else Statements

In [ ]:
if 25 > 10:
   print('it worked')

it worked

In [18]:
if 25 < 10:
   print('it worked')
else :
    print('it did not worked')

it did not worked

In [22]:
if 25 < 10:
   print('it worked')
elif 25 < 10 :
    print(' elif worked')   
elif 25 < 30 :                      # we can use elif as much as we want but it run only first true statement
    print(' elif 2 worked')
elif 25 < 40 :
    print(' elif 3 worked')   
elif 25 < 70 :
    print(' elif 4 worked')
elif 25 < 15 :
    print(' elif 5 worked')

else :
    print('it did not worked')

 elif 2 worked

In [ ]:
if 25 < 10:
   print('it worked')
elif 25 < 10 :
    print(' elif worked')   
elif 25 < 30 :                      # we can use elif as much as we want but it run only first true statement
    print(' elif 2 worked')
elif 25 < 40 :
    print(' elif 3 worked')   
elif 25 < 70 :
    print(' elif 4 worked')
elif 25 < 15 :
    print(' elif 5 worked')

else :
    print('it did not worked')

it worked

In [25]:
print ('it worked') if 10>30 else print ('it did not worked aaaaa meriiiii jaaannnnnnn')

it did not worked aaaaa meriiiii jaaannnnnnn

# nested if statement example

In [28]:
if (25 < 10) or (1<3):
   print('it worked')
   if 10 > 5 :
     print ('the nested if statement worked and we can only use if within if when 1st is true like this nested way')
elif 25 < 10 :
    print(' elif worked')   
elif 25 < 30 :                      # we can use elif as much as we want but it run only first true statement
    print(' elif 2 worked')
elif 25 < 40 :
    print(' elif 3 worked')   
elif 25 < 70 :
    print(' elif 4 worked')
elif 25 < 15 :
    print(' elif 5 worked')

else :
    print('it did not worked')

it worked
the nested if statement worked and we can only use if within if when 1st is true like this nested way

# FOR LOOPS

In [30]:
integer = [1,2,3,4,5]

for number in integer :
    print(number)

1
2
3
4
5

In [31]:
for number in integer :
    print('yepp!!')

yepp!!
yepp!!
yepp!!
yepp!!
yepp!!

In [ ]:
integer = [1,2,3,4,5]

In [ ]:
for jelly in integer :
    print(jelly + jelly)       #for loop

2
4
6
8
10

In [33]:
for jelly in integer :
    print('jelly + jelly')

jelly + jelly
jelly + jelly
jelly + jelly
jelly + jelly
jelly + jelly

In [34]:
ice_cream_dict = {'name' : 'Harshit' , 'weekly intake' : 5, 'favorite ice creams' : ['MCC', 'chocolate'] }

In [35]:
for cream in ice_cream_dict.values():
    print(cream)

Harshit
5
['MCC', 'chocolate']

In [36]:
for key, value in ice_cream_dict.items() :
    print(key, '->', value)

name -> Harshit
weekly intake -> 5
favorite ice creams -> ['MCC', 'chocolate']

# Nested For Loops(for loop within a for loop)

In [37]:
flavours =['vanilla', 'chocolate', 'cookie dough']
toppings = ['hot fudge', 'oreos',  'marshmallows']

In [42]:
for one in flavours :
     for two in toppings :
        print (one, 'topped with', two)

vanilla topped with hot fudge
vanilla topped with oreos
vanilla topped with marshmallows
chocolate topped with hot fudge
chocolate topped with oreos
chocolate topped with marshmallows
cookie dough topped with hot fudge
cookie dough topped with oreos
cookie dough topped with marshmallows

 # WHILE LOOPS, BREAK STATEMENT & CONTINUE

In [53]:
number = 0 

while number < 5:
     print(number)
     number = number + 1

0
1
2
3
4

In [63]:
number = 0 

while number < 5:
     print(number)
     if number == 3:
        break
     number = number + 1

0
1
2
3

In [66]:
number = 0 

while number < 5:
     print(number)
     if number == 6:
        break
     number = number + 1 
else :
     print('no longer < 5')

0
1
2
3
4
no longer < 5

In [ ]:
number = 0

while number < 5:
    number = number + 1
    if number == 3:
        continue           # it will skip 3 in the out put
    print(number)
else :
    print('no longer < 5 ')

1
2
4
5
no longer < 5

# FUNCTIONS
block of code that only runs only when you call out

In [ ]:
def function():
    print("my first function")
function()     # calling out

my first function

In [7]:
def first_function(): 
    print('we did it!!!!1')

In [8]:
first_function()

we did it!!!!1

In [ ]:
def number_squared(number):

    print(number**2)

In [11]:
number_squared(5)

25

In [17]:
def number(number, power):
    print(number**power)

In [18]:
number(5,3)

125

In [19]:
def number_args(*number):
    print(number[0]*number[1])

In [20]:
number_args(5,6,7,3,8)

30

In [ ]:
def number_args(*number):
    print(number[2]*number[3])    # multiplying index 2 and 3 from number_args

In [22]:
number_args(3,4,7,3,4,5)

21

In [23]:
args_tuple = (3,4,5,6,2,5,7)

def number_args(*number):
    print(number[0]*number[1])

In [25]:
number_args(*args_tuple)

12

In [ ]:
# Key word argument

def number_squared_cust(numberpower):
    print(number**power)

In [27]:
number_squared_cust(power = 5, number = 3)

243

In [43]:
def number_kwarg(**number):
    print('my name is: ' + number['integer'] + '  and my other number is: ' + number['integer2'])

In [44]:
number_kwarg(integer = 'harshit', integer2 = '914061')

my name is: harshit  and my other number is: 914061

# CONVERTING DATA TYPES

In [45]:
# adding a int and string


num_int = 7
num_str ='7'

num_str_conversion = int(num_str)

In [50]:
num_sum = num_int + num_str_conversion
print(num_sum)

14

In [ ]:
# CONVERSION OF LISTS, SETS AND TUPPLES

In [51]:
list_type = [1,2,3,4]

type(list_type)

list

In [52]:
tuple(list_type)

(1, 2, 3, 4)

In [53]:
type(tuple(list_type))

tuple

In [55]:
list_type = [1,2,2,1,2,2,2,1,2,3]

set(list_type)

{1, 2, 3}

In [57]:
dict_type = {'name' : 'Harshit', 'age' : '23', 'gender' : 'MALE' }

type(dict_type)

dict

In [59]:
dict_type.items()

dict_items([('name', 'Harshit'), ('age', '23'), ('gender', 'MALE')])

In [62]:
dict_type.keys()

dict_keys(['name', 'age', 'gender'])

In [63]:
dict_type.values()

dict_values(['Harshit', '23', 'MALE'])

In [ ]:
list(dict_type.keys())       # converting keys into a list

['name', 'age', 'gender']

In [65]:
long_str = "i like to party a lot"

In [66]:
set(long_str)

{' ', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}